*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    /* --color-green: #2fd498;
    --color-green-dark: #1c926b; */
    --color-green: #1db951 ;
    --color-green-dark: #083517;
    /* --color-btn: #4285F4; */
    --color-btn: #1db951;

    --font-normal-curvy: 'Balsamiq Sans', cursive;
    --font-roboto: 'Roboto', sans-serif;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas{
    width: 100%;
    /* background-color: lightblue; */
    position: absolute;
    top: 0;
    left: 0;
}
.containerWrapper{
    height: 100vh;
    background: linear-gradient(0deg,var(--color-green-dark),var(--color-green));
}
.container{
    background: white;
    width: 500px;
    height: 65%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
    z-index: 2;
}
.container .contentWrapper{
    flex-flow: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.container .signInForm{
    /* position: relative;
    top: 0;
    left: 0%; */
    /* display: none; */
    z-index: 3;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}
.container .signUpForm{
    position: relative;
    top: -100%;
    opacity: 0;
    z-index: -1;
    /* display: none; */
    transition: opacity 300ms ease-in-out;
}
.contentWrapper>h1{
    font-family: var(--font-roboto);
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 2rem;
    cursor: default;
}
#googleSignInBtn{
    background-color: white;
    width: 190px;
    margin: 1.5rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    font-family: var(--font-roboto);
    font-size: 1.5rem;
    padding: 7px;
    border: 1px solid lightskyblue;
    box-shadow: 0px 0px 10px 1px var(--color-btn);
    cursor: pointer;
    transition: all 100ms ease-in-out;
    color: rgb(100, 100, 100);
}
#googleSignInBtn:hover{
    /* transform: scale(1.05); */
    box-shadow: 0px 0px 15px 1px var(--color-btn);
    border-color: var(--color-btn);
}
.contentWrapper>h3{
    font-family: var(--font-roboto);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.contentWrapper>input{
    height: 3rem;
    width: 25rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid lightslategray;
}
.contentWrapper>input:focus{
    border-top: 0px;
    /* border-color: #4285F4; */
    /* color: lightslategrey; */
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--color-btn);
    /* border: 0; */
    outline-width: 0;
}
.contentWrapper .btn{
    background-color: var(--color-btn);
    font-family: var(--font-roboto);
    font-size: 1.5rem;
    color: white;
    width: 110px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 1.2rem;
}
.contentWrapper .btn:hover{
    box-shadow: 0px 0px 5px 1px slategrey;
}
.contentWrapper .btn:active{
    background-color: var(--color-green-dark);
}
.contentWrapper #resetPassBtn{
    color: var(--color-btn);
    background-color: white;
    cursor: pointer;
}
.contentWrapper #resetPassBtn:hover{
    color: var(--color-green-dark);
}
.contentWrapper #createAccountBtn{
    color: var(--color-btn);
    background-color: white;
    cursor: pointer;
}
.contentWrapper #createAccountBtn:hover{
    color: var(--color-green-dark);
}
.contentWrapper .backBtn>i{
    position: absolute;
    color: var(--color-btn);
    cursor: pointer;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    font-size: 3.5rem;
}
.contentWrapper .backBtn>i:hover{
    transform: scale(1.1);
}
.contentWrapper .alert{
    color: red;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    transition: all 200ms ease-in-out;
    font-family: var(--font-normal-curvy);
    opacity: 0;
}